extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/send' method='post')
    input(type='text', name='cats', value='cats')
    input#capture(type='file', name='videoInput', accept='video/*', capture='camcorder')
    input(type='submit', value='Send')
