extends layout

block content
  header#top
    .container
      h1 Stash Video
      p.lead Report street crime. Save the world.
      a.btn.btn-default(href='#upload') Let's Do This!
  section#upload
    .container
      form.input-group(method='post', enctype='multipart/form-data')
        .view#record
          // input#record(type='button', value='Record a Video')
          label What's the problem?
          br
          label.btn.btn-default(for='capture') Catch or Upload a Video
          input#capture(type='file', name='videoInput', accept='video/*', capture='camcorder')
        .view#problem
          br
          label What's the problem?
          br
          .btn-group-vertical  
            input.btn.btn-default(type='button', name='problem', value='Police Brutality')
            input.btn.btn-default(type='button', name='problem', value='Street Harassment')
            input.btn.btn-default(type='button', name='problem', value='Other')
        .view
          br
          label Summarize the problem
          br
          textarea(placeholder='Describe what you saw.')
        .view#submit
          input.btn.btn-success(type='submit', value='Submit')
  section#thanks
    .container
      h1 Thanks!
      p.lead Your report will be taken seriously.