extends layout

block content
  .container
    p Welcome to #{title}
    form.input-group(method='post', enctype='multipart/form-data')
      input.form-control(type='text', name='name', value='cats')
      input#capture(type='file', name='videoInput', accept='video/*', capture='camcorder')
      input.btn.btn-success(type='submit', value='Send')
