doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/styles/style.css')
  body
    header Stash-Video
    block content
    