doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/styles/style.css')
  body
    block content
    footer 
      a() &lt;
      a() #
      a() &gt;
    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/script.js')
