doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://weloveiconfonts.com/api/?family=entypo')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
  body
    block content
    footer 
      a() 
        span.entypo-up-open-big
      a() 
        span.entypo-dot-3
      a()
        span.entypo-down-open-big
    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/script.js')
    script(src='/javascripts/geolocation.js')