body{
	max-width: 320px;
	max-height: 568px;
}
header {
	text-align: center;
	background-color: rgb(109, 163, 165);
	color: rgb(75, 75, 75);
    font-size: 2em;
    font-weight: bolder;
}
footer{
    text-align: center;
    background-color: rgb(109, 163, 165);
    color: rgb(75, 75, 75);
    font-size: 2em;
    font-weight: bolder;

}
a {
    margin: 0 20px;
    color: purple;
}
.container {
    text-align: center;
}
#record {
    margin-top: 
}